{% load static %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
<title>博媛二手车交易网管理系统</title>
<link rel="stylesheet" href="../../static/assets/css/fonts/linecons/css/linecons.css">
<link rel="stylesheet" href="../../static/assets/css/fonts/fontawesome/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/assets/css/bootstrap.css">
<link rel="stylesheet" href="../../static/assets/css/xenon-core.css">
<link rel="stylesheet" href="../../static/assets/css/xenon-forms.css">
<link rel="stylesheet" href="../../static/assets/css/xenon-components.css">
<link rel="stylesheet" href="../../static/assets/css/xenon-skins.css">
<script src="../../static/assets/js/jquery-1.11.1.min.js"></script>
<script src="{% static 'js/second_car/cars.js' %}"></script>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body class="page-body">
<div class="page-container">
     <div class="sidebar-menu toggle-others fixed">
    <!--菜单-->
    <div class="sidebar-menu-inner">
      <header class="logo-env">
        <!-- logo -->
        <div class="logo"> <a href="index.html" class="logo-expanded"> <img src="../../static/assets/images/logo@2x.png" height="40" alt="总运营平台" /> </a> <a href="index.html" class="logo-collapsed"> <img src="../../static/assets/images/logo-collapsed@2x.png" width="40" alt="" /> </a> </div>
        <div class="mobile-menu-toggle visible-xs"> <a href="#" data-toggle="user-info-menu"> <i class="fa-magnet"></i> </a> <a href="#" data-toggle="mobile-menu"> <i class="fa-bars"></i> </a> </div>
      </header>
      <ul id="main-menu" class="main-menu">
        <li> <a href="{% url 'index' %}"> <i class="linecons-desktop"></i> <span class="title">首页</span> </a> </li>
        <li> <a href="javascript:;"> <i class="linecons-photo"></i> <span class="title">广告管理</span> </a>
          <ul>
            <li> <a href="{% url 'banner' %}"> <span class="title">首页Banner管理</span> </a> </li>
            <li> <a href="{% url 'advertising' %}"> <span class="title">广告位管理</span> </a> </li>
          </ul>
        </li>
        <li class="active opened active"> <a href="javascript:;"> <i class="linecons-truck"></i> <span class="title">二手车管理</span> </a>
          <ul>
            <li> <a href="{% url 'brand' %}"> <span class="title">品牌管理</span> </a> </li>
            <li> <a href="{% url 'car_type' %}"> <span class="title">车型管理</span> </a> </li>
            <li> <a href="{% url 'car_serie' %}"> <span class="title">级别管理</span> </a> </li>
            <li class="active"> <a href="{% url 'cars' %}"> <span class="title">车源管理</span> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;"> <i class="linecons-shop"></i> <span class="title">车辆审核管理</span> </a>
          <ul>
            <li> <a href="{% url 'car_check' %}"> <span class="title">车辆审核管理</span> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;"> <i class="linecons-calendar"></i> <span class="title">预约管理</span> </a>
          <ul>
            <li> <a href="{% url 'sell_appointment' %}"> <span class="title">卖车预约管理</span> </a> </li>
            <li> <a href="{% url 'vip_appointment' %}"> <span class="title">会员预约管理</span> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;"> <i class="linecons-user"></i> <span class="title">会员管理</span> </a>
          <ul>
            <li> <a href="{% url 'vip' %}"> <span class="title">会员管理</span> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;"> <i class="linecons-doc"></i> <span class="title">单页管理</span> </a>
          <ul>
            <li> <a href="{% url 'corporate_culture' %}"> <span class="title">企业文化</span> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;"> <i class="linecons-cloud"></i> <span class="title">模块管理</span> </a>
          <ul>
            <li> <a href="{% url 'vehicle_inspection' %}"> <span class="title">车况检测</span> </a> </li>
            <li> <a href="{% url 'car_maintenance' %}"> <span class="title">保养车</span> </a> </li>
            <li> <a href="{% url 'insurance_products' %}"> <span class="title">保险超市</span> </a> </li>
            <li> <a href="{% url 'fcwt' %}"> <span class="title">洗车服务</span> </a> </li>
          </ul>
        </li>
        <li> <a href="javascript:;"> <i class="linecons-cog"></i> <span class="title">系统设置</span> </a>
          <ul>
            <li> <a href="{% url 'change_passwd' %}"> <span class="title">修改密码</span> </a> </li>
          </ul>
        </li>
      </ul>
    </div>
    <!--菜单 end-->
  </div>

  <div class="main-content">
    <!--功能-->
    <nav class="navbar user-info-navbar" role="navigation"> 
      <!-- 隐藏导航区 -->
      <ul class="user-info-menu left-links list-inline list-unstyled">
        <li class="hidden-sm hidden-xs"> <a href="javascript:;" data-toggle="sidebar"> <i class="fa-bars"></i> </a> </li>
      </ul>
      <!-- 账户信息 -->
      <ul class="user-info-menu right-links list-inline list-unstyled">
        <li class="dropdown user-profile"> <a href="#" data-toggle="dropdown"> <img src="../../static/assets/images/user.png" alt="user-image" class="img-circle img-inline userpic-32" width="28" /> <span> Admin <i class="fa-angle-down"></i> </span> </a>
          <ul class="dropdown-menu user-profile-menu list-unstyled">
            <li> <a href="{% url 'change_passwd' %}"> <i class="fa-edit"></i> 修改密码 </a> </li>
            <li class="last"> <a href="{% url 'logout' %}"> <i class="fa-lock"></i> 退出 </a> </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!--功能 end--> 
    <!--核心-->
    <link rel="stylesheet" href="../../static/assets/js/datatables/dataTables.bootstrap.css">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"> 车源管理 </div>
      </div>
      <div class="panel-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap"> 
          <!--搜索-->
          <div class="table-search">
         <form method="post" href="{% url 'cars' %}" class="form-inline" role="form">
                            <div class="form-group">

                                <select class="form-control" id="car_user" name="ischeck">
{#                                    <a href="{% url 'car_yuan' %}"></a>#}
                                    <option value="0">全部</option>
                                    <option value="1">在售</option>
                                    <option value="2">已售</option>



                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" name="search" placeholder="关键字">
                            </div>
                            <button class="btn btn-pink">查询</button>
                        </form>
          </div>
          <!--搜索 end--> 
          <!--暂无数据-->
          <div class="none_data" style="display: none;"> <img src="../../static/assets/images/none_data.png" alt="">
            <p>暂无相关数据</p>
          </div>
          <!--暂无数据 end--> 
          <!--数据-->
          <div class="table-responsive table-shopping" data-pattern="priority-columns" data-focus-btn-icon="fa-asterisk" data-sticky-table-header="true" data-add-display-all-btn="true" data-add-focus-btn="true">
            <table class="table table-striped" cellspacing="0">
              <thead>
                <tr>
                  <th colspan="2">品牌</th>
                  <th>级别</th>
                  <th class="right">报价(万)</th>
                  <th>上牌日期</th>
                  <th>发布者</th>
                  <th>发布时间</th>
                  <th>浏览次数</th>
                  <th>状态</th>
                  <th class="right">操作</th>
                </tr>
                <tr>
                  <th colspan="10"><label>
                      <input type="checkbox" class="cbr" />
                      全选</label>
                    &nbsp;&nbsp;&nbsp;<a href="javascript:;" class="btn btn-white btn-xs mb2" onclick="jQuery('#check').modal('show', {backdrop: 'fade'});"><i class="fa fa-car"></i> 设为严选车</a><a href="javascript:;" class="btn btn-white btn-xs mb2" onclick="jQuery('#check').modal('show', {backdrop: 'fade'});"><i class="fa fa-fire"></i> 设为超值购</a></th>
                </tr>
              </thead>
              <tbody>

                    {% for car in page.object_list %}

                <tr>
                  <td><label>
                      <input type="checkbox" class="cbr" />
                    </label></td>
                  <td><div class="desc">
                      <p class="title">{{car.name}}</p>
                      <p>编号：{{car.id}}</p>
                    </div></td>
                  <td>{{car.car_type.name}}</td>
                  <td class="right">{{car.s_price}}</td>
                  <td>{{car.time}}</td>
                  <td>{{car.user.wx_name}}</td>
                  <td>{{car.issue_time}}</td>
                  <td>211</td>
                    {% if car.cars_status == 2 %}
                    <td><span class="label label-black label-mini">已售</span></td>
                        {% else %}
                        <td><span class="label label-success label-mini">在售</span></td>
                    {% endif %}

                  <td id="{{car.id}}" class="right"><a href="javascript:;" class="btn btn-white btn-xs tooltips lookbtn" onclick="jQuery('#look').modal('show', {backdrop: 'fade'});" data-toggle="tooltip" title="预览"><i class="fa fa-eye"></i></a></td>
                </tr>
                    {% endfor %}
                    



              </tbody>
            </table>
          </div>
          <!--数据 end--> 

            <!--页码-->
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="dataTables_info" role="status" aria-live="polite">
                                共 {{ cars_count | default:0 }} 条，每页显示 15 条
                            </div>
                        </div>
                        <div class="col-xs-8">
                            <div class="dataTables_paginate paging_simple_numbers">
                                <ul class="pagination">

                                    {% if page.has_previous %}
                                        <li class="paginate_button previous " aria-controls="example-1" tabindex="0"><a
                                                href="?page={{ page.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="paginate_button previous disabled" aria-controls="example-1"
                                            tabindex="0"><a href="#">&laquo;</a></li>

                                    {% endif %}
                                    {% for page_number in paginator.page_range %}
                                        {% if page_number == num %}
                                            <li class="paginate_button active" aria-controls="example-1" tabindex="0"><a
                                                    href="?page={{ page_number }}">{{ page_number }}</a></li>
                                        {% else %}
                                            <li class="paginate_button" aria-controls="example-1" tabindex="0"><a
                                                    href="?page={{ page_number }}">{{ page_number }}</a></li>

                                        {% endif %}

                                    {% endfor %}
                                    {% if page.has_next %}
                                        <li class="paginate_button next" aria-controls="example-1" tabindex="0"><a
                                                href="?page={{ page.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="paginate_button next disabled" aria-controls="example-1"
                                            tabindex="0"><a href="#">&raquo;</a></li>

                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--页码 end-->

        </div>
      </div>
    </div>
    <!--核心 end--> 
    <!-- 底部 -->
    <footer class="main-footer sticky footer-type-1">
      <div class="footer-inner">
        <div class="footer-text"> &copy; 2019 <strong>博媛二手车交易网管理系统</strong> All Rights Reserved. </div>
        <div class="go-up"> <a href="#" rel="go-top"> <i class="fa-angle-up"></i> </a> </div>
      </div>
    </footer>
    <!--底部 end--> 
  </div>
</div>
 <!--内容预览-->
                    <div class="modal fade" id="look" aria-hidden="true"
                         style="display: none;">
                        <div class="modal-dialog">
                            <div class="modal-content-wrap">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                                aria-hidden="true">×
                                        </button>
                                        <h4 class="modal-title">预览</h4>
                                    </div>
                                    <div class="modal-body">
                                        <!--默认提示-->
                                        <h5 id="car_name"></h5>
                                        <div class="title">
                                            <p class="pull-left"><span
                                                    class="text-red" id="car_s_price"></span>
                                                <del id="car_price"></del>
                                                <em class="text-gray" id="car_transfer_fee">(包过户费)</em></p>
                                        </div>
                                        <div class="view-content heart-detail">
                                            <!--车辆档案-->
                                            <div class="car_core">
                                                <h4>车辆档案</h4>
                                                <ul class="list_biaoqian row">
                                                    <li class="col-xs-4 text-left" id="car_km">

                                                    </li>
                                                    <li class="col-xs-4 text-left" id="car_time">
                                                        首次上牌：{{ car.time | date:"Y-m-d" }}</li>
                                                    <li class="col-xs-4 text-left" id="car_gearbox">
                                                        档位/排量：{{ car.gearbox }}/{{ page.displacement }}</li>
                                                    <li class="col-xs-4 text-left" id="car_color">车辆颜色：黑色</li>
                                                    <li class="col-xs-4 text-left" id="car_transfer">过户次数：0次</li>
                                                    <li class="col-xs-4 text-left" id="car_emission">排放标准：国V</li>
{#                                                    <li class="col-xs-4 text-left" id="car_type">#}
{#                                                        车辆级别：{{ car.car_serie.car_type.name }}</li>#}
                                                    <li class="col-xs-4 text-left"  id="car_accident">有无重大事故：无</li>
                                                    <li class="col-xs-4 text-left" id="car_license_plate">车牌所在地：诸城</li>
                                                    <li class="col-xs-4 text-left" id="car_maintenance">维修保养：定期4S保养</li>
                                                    <li class="col-xs-4 text-left" id="car_purpose">用途：家用</li>
                                                    <li class="col-xs-4 text-left" id="car_yearly_check">年检到期：2019-10</li>
                                                    <li class="col-xs-4 text-left" id="car_compulsory_insurance">交强险到期：2019-10</li>
                                                    <li class="col-xs-4 text-left" id="car_commercial_insurance">商业险到期：已过期</li>
                                                    <li class="col-xs-4 text-left" id="car_issue_time">发布时间：2019-09-28</li>
                                                </ul>
                                                <ul class="list_line row">
                                                    <li class="col-xs-3">胎压监测</li>
                                                    <li class="col-xs-3">车内氛围灯</li>
                                                    <li class="col-xs-3">全景天窗</li>
                                                    <li class="col-xs-3">电动座椅</li>
                                                    <li class="col-xs-3">隔热玻璃</li>
                                                    <li class="col-xs-3">头部气帘</li>
                                                </ul>
                                            </div>
                                            <!--车辆档案 end-->
                                            <!--卖家信息-->
                                            <div class="car_core">
                                                <h4>卖家信息</h4>
                                                <p id="user_name">
                                                    卖主：{{ car.issue_user.name }}&nbsp;&nbsp;联系电话：{{ car.issue_user.phone }}</p>
                                                <p id="car_info">
                                                    介绍：该车非重大事故车，非水泡火烧车，车辆没有改装，车身骨架没有磕碰痕迹，车体外观有少量瑕疵，部分漆面进行过维修，内饰无明显瑕疵，发动机变速箱工况良好，车辆灯光功能配置无故障无损坏，发动机舱内液位正常。</p>
                                            </div>
                                            <!--卖家信息 end-->
                                            <!--车辆图片-->
                                            <div class="car_core">




                                                <p>
                                                    <img id="cimg1"
                                                         src="{{ car.img.url }}?width=600&amp;height=400">
                                                </p>
                                                <p>
                                                    <img id="cimg2"
                                                         src="https://car-image.guazistatic.com/evaluates-bucket/eva50ebe0d7-ba0c-4ff0-81ae-8e34e711b91b.jpg?width=600&height=400">
                                                </p>
                                                <p>
                                                    <img id="cimg3"
                                                         src="https://car-image.guazistatic.com/evaluates-bucket/evac9b7aba6-7f0b-4106-af5d-ed6f35017341.jpg?width=600&amp;height=400">
                                                </p>
                                            </div>
                                            <!--车辆图片 end-->
                                        </div>
                                        <!--默认提示 end-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--内容预览 end-->
<!--设置弹层-->
<div class="modal fade" id="check" aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content-wrap">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">提示</h4>
        </div>
        <div class="modal-body"> 
          <!--默认提示-->
          <div class="box_core">
            <p class="icon warning"><i class="fa fa-exclamation-circle"></i></p>
            <p class="name">确定设为严选车/设为超值购？</p>
          </div>
          <!--默认提示 end--> 
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-pink">确定</button>
          <button type="button" class="btn btn-white" data-dismiss="modal">取消</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!--设置弹层 end--> 
<!-- 时间脚本 --> 
<script src="../../static/assets/js/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="../../static/assets/js/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
<link href="../../static/assets/js/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet">
<script type="text/javascript">
 $(".form_datetime").datetimepicker({
 format: "yyyy-mm-dd",
 autoclose: true,
 todayBtn: true,
 todayHighlight: true,
 showMeridian: true,
 pickerPosition: "bottom-right",
 language: 'zh-CN',//中文，需要引用zh-CN.js包
 startView: 2,//月视图
 minView: 2//日期时间选择器所能够提供的最精确的时间选择视图
 }); 
</script> 
<!-- 时间脚本 end --> 
<!-- 公共脚本 --> 
<script src="../../static/assets/js/bootstrap.min.js"></script>
<script src="../../static/assets/js/TweenMax.min.js"></script>
<script src="../../static/assets/js/resizeable.js"></script>
<script src="../../static/assets/js/joinable.js"></script>
<script src="../../static/assets/js/xenon-toggles.js"></script>
<!-- JavaScripts initializations and stuff --> 
<script src="../../static/assets/js/xenon-custom.js"></script>
</body>
</html>
